* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dad4c5;
    display: flex;
    height: 100%;
    min-width: 1100px;
}

p {
    color: red;
}

#teapic {
    background: url(./img/startpic.png);
    width: 1087px;
    height: 600px;
    margin: auto;
    display: flex;
}

.main-enterance {
    display: block;
    width: 241px;
    height: 241px;
    background-size: 239px;
    margin: auto;
    transition: transform 0.5s;
}

.main-enterance div {
    width: 241px;
    height: 241px;
    background: url(./img/startbutton1.png) no-repeat center;
    transition: transform .5s ease-in-out, background 0s linear .25s;
}

.main-enterance:hover div {
    background: url(./img/startbutton2.png) no-repeat center;
    transform: rotateX(180deg);
    transition: transform .5s ease-in-out, background 0s linear .25s;
}

a {
    cursor: pointer;
}

section {
    position: absolute;
    float: left;
    font-size: 20px;
    font-family: Calibri;
    top: 610px;
    margin-left: 12px;
}

p {
    color: #c1ac9e;
}

#small {
    font-size: 16px;
}