*{
	margin:0;
	padding:0;
}

body{
	font-family: Calibri;
	font-size: 20px;
	background-color: #dad4c5;
	display: flex;
    height: 100%;
    min-width: 1100px;
    color:#5d5d5d;
}

a{
	color:#525775;
	text-decoration: none;
	background-color: #ebe7df;
	padding:7px;
}

a:hover{
	background-color: #bfac9e;
}

.Text{
	float:left;
	width:600px;
	margin:50px;
}

.Text p{
	margin-bottom: 20px;
}

.bigImage{
	float:left;
}

.btext{
	font-size: 18px;
	width:500px;
}

.btext :nth-child(1){
	width:720px;
}

.btext :nth-child(2){
	width:650px;
}

.btext :nth-child(3){
	width:560px;
}

.bimg{
	margin-top: 50px;
}