*{
	margin:0;
	padding:0;
}

body{
	font-family: Calibri;
	font-size: 20px;
	background-color: #dad4c5;
	display: flex;
    height: 100%;
    min-width: 1100px;
    color:#5d5d5d;
}

a{
	color:#525775;
	text-decoration: none;
	background-color: #ebe7df;
	padding:7px;
}

a:hover{
	background-color: #bfac9e;
}

aside{
	width:180px;
	float:right;
	right:0;
	height:auto;
	border-left: 3px solid #525775;
	margin:5px 0;
}

aside p {
	margin:10px;
	font-family: Copperplate Gothic Bold;
	font-size: 19px;
	margin-bottom: 20px;
}

#add{
	text-align: center;
}

section{
	float:left;
	width:calc(100% - 180px);
}

.Text{
	margin:30px 10px;
}

.Text p{
	margin-bottom: 20px;
	margin-left:20px;
}

.btext{
	float:left;
}
.btext p{
	width:calc(100% - 350px);
}

.btext :nth-child(2){
	width:calc(100% - 450px);
}

.btext :nth-child(3){
	width:calc(100% - 500px);
}
.btext :nth-child(4){
	width:calc(100% - 530px);
}
.btext :nth-child(5){
	width:calc(100% - 600px);
}
.bigImage{
	float:left;
}

.btext{
	padding-top:30px;
	font-size: 18px;
}


.bimg{
	position: fixed;
	right:180px;
}